<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eju.demomodule">

    <application>
        <activity android:name=".view.DemoActivity"></activity>
        <activity android:name=".view.BigImageActivity"
            android:label="大图">
        </activity>
        <activity android:name=".view.WebActivity"
            android:label="webPage">
        </activity>
        <activity android:name=".view.ARouterDemoActivity"
            android:label="ARouterDemo">
        </activity>
        <activity
            android:name=".view.RoomDemoActivity"
            android:exported="false" />
    </application>

</manifest>